.header{
    position: relative;
    top: -16px;
    background-color: rgb(230, 126, 88);
}
.headerBotones{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
}
.headerBotones li{
    margin-left: 5px;
    background-color: rgb(246, 77, 15);
    font-size: 17px;
}
.headerTitulo{
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.footer{
    background-color: rgb(230, 126, 88);
    
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}
.center a{
    padding-right: 8px;
}
#cuerpo{
    padding-left: 50px;
}
.producto{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 80px;
}
.producto a{
    background-color: rgb(246, 77, 15);
    font-size: 17px;
}
.imgContenedor{
    width: 800px;
    height: 400px;
}
.botonesSociales{
    padding-top: 14px;
    display: flex;
    flex-direction: row;
}